:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(2,0,36);
background: linear-gradient(18deg, rgba(2,0,36,1) 1%, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.button {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(43, 113, 226);
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.button:hover {
  background-color: rgb(30, 87, 171);
  color: rgb(223, 227, 232);
  box-shadow: 0px 0px 55px 10px #0ff;
}
